* {
    box-sizing: border-box;
}

body {
  min-width: 1000px;
}

nav {
  text-align: right;
}

nav ul a {
  display: inline-block;
  padding: 5px 1px;
  margin-top: 15px;
  margin-right: 10px;
  color: black;
  font-size: 15px;
  text-decoration: none;
}

#user-menu {
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: rgb(77,144,254);
  border-radius: 25px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

#squares {
  opacity: 0.6;
  transition: 0.5s;
}
#squares:hover {
  opacity: 0.9;
  transition: 0.5s;
}


.underline:hover {
  text-decoration: underline;
}


nav ul li {
  list-style-type: none;
}

form {
  text-align: center;
}

form img {
  display: block;
  margin: 100px auto 50px;
}

form input[type="text"] {
  display: block;
  margin: 30px auto;
  height: 38px;
  min-width: 500px;
  border-radius: 20px;
  font-size: 20px;
  padding: 0 20px;
}

/*
form input[type="text"]:active, form input[type="text"]:hover {
  shape-outside:
}
*/

form input[type="submit"] , form button {
  padding: 10px;
  font-size: 1.05em;
  border: none;
  border-radius: 5px;
  margin: 10px;
  opacity: 0.8;
}

form input[type="submit"]:hover , form button:hover {
  border: 1px solid gray;
  opacity: 1;
}

form p {
  display: block;

  margin: 20px;
  padding: 10px;
}
